<router-outlet></router-outlet>
<div class="box1" *ngIf="isHomeRouteActivated() != '/'">
    <p-sidebar [(visible)]="display" [transitionOptions]="'400ms'">

        <div>
            <div class="grid justify-content-center">
                <img alt="Card" src="assets/image/logos/logo_padonde.png" style="width: 280px;">
            </div>
        </div>
        <div></div>
        <hr style="background-color: green; height: 2px;">
        <label class="labelSideBar"><b>Usuarios</b></label>
        <div>
            <i class="pi pi-user boton"></i><button pButton pRipple type="button" label="Usuarios"
                class="p-button-success p-button-text"></button>
        </div>
        <div>
            <i class="pi pi-star-o boton"></i><button pButton pRipple type="button" label="Vehiculos"
                class="p-button-success p-button-text"></button>
        </div>
        <hr style="background-color: green; height: 2px;">
        <label class="labelSideBar"><b>Configuración</b></label>
        <div>
            <i class="pi pi-cog boton"></i><button pButton pRipple type="button" label="Parametros"
                class="p-button-success p-button-text"></button>
        </div>
        <div>
            <i class="pi pi-cog boton"></i><button pButton pRipple type="button" label="Otras Opciones"
                class="p-button-success p-button-text"></button>
        </div>

    </p-sidebar>

    <p-button type="text" (click)="display = true" icon="pi pi-bars"></p-button>
</div>

