<p-toast position="top-center" [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'" [baseZIndex]="5000"
    key="tc">
</p-toast>

<app-cargando [texto]="'Servicios'" *ngIf="cargando">
</app-cargando>

<div class="box" *ngIf="!cargando">
        <h1 class="titulo">Servicios</h1>
        <p-table [columns]="columnas" [value]="registroLista" [paginator]="true" [rows]="5"
            [showCurrentPageReport]="true" responsiveLayout="stack"
            currentPageReportTemplate="Total Registros: {totalRecords}" class="position-static">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns">
                        <b>{{col.header}}</b>
                    </th>
                    <th style="width: 160px; text-align:center"><b>Acciones</b></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                    <td *ngFor="let col of columns">
                        <span class="p-column-title">{{col.header}}</span>
                        {{ rowData[col.field] ? rowData[col.field] :
                        'No disponible' }}
                    </td>
                    <td>
                        <button pButton label="Estado" class="botonTransparente" icon="pi pi-user-edit"
                            pTooltip="Cambiar Estado" (click)="actualizarEstado(rowData)">
                        </button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
</div>